.play-container {
  perspective: 700;
}

.play {
  border-radius: 25px;
  margin: 40px;
  height: 100px;
  width: 100px;
  background: #4169E1;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  text-align: center;
  
}

.play:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4px;
  width: 100px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}


body {
  padding-top: 100px;

}
.container {
  max-width: 730px;
}
.jumbotron:hover{
  text-align: center;
  background: #DC143C;
  transition: all 2.5s ease;
  opacity: 1;
}
